<div class="container wrapper">
  <div class="card" style="padding: 16px">  
    <form  #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" [(ngModel)]="model.email"  class="form-control"  placeholder="Enter email" >
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="pwd" [(ngModel)]="model.pwd" class="form-control" id="pwd" placeholder="Enter password"/>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit(model)">Submit</button>
    </form>
  </div>
</div>